#  pyspark
 pandas 
 fastparquet 
 matplotlib
 requests
 pyarrow
 seaborn

 apache-airflow


#  lightgbm
#  sudo apt install -y libgomp1
scikit-learn

#  lightgbm
#  sudo apt install -y libgomp1
scikit-learn

 apache-airflow
